* {
  margin: 0;
  padding: 0;
}

.grid1 {
  display: grid;
  /*background-color: darkkhaki;*/
  background-image: url("/images/main-screen.png");
  background-size: 100%;
  background-repeat: no-repeat;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(4, 1fr, 100px, auto);
  /*grid-gap: 10px;*/
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  "title title title title title title"
  "links links links links links links"
  "mainbody mainbody mainbody mainbody mainbody mainbody"
  "footer footer footer footer sidebar sidebar";
}

.title {
  grid-area: title;
  font-family: sans-serif;
  font-size: 72px;
  color: white;
  align-self: center;
  justify-self: center;
  /*background-color: yellow
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}

ul {
  display: block;
  text-align: center;
}

li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  background-color: gray;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}


.links {
  grid-area: links;
  /*align-self: center;
  justify-content: center;*/
  font-family: sans-serif;
  font-size: 42px;
  background-color: blue;
  /*border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}


.mainbody {
  grid-area: mainbody;
  color: white;
  font-family: sans-serif;
  font-size: 42px;
  /*background-color: blue;
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}



.sidebar {
  grid-area: sidebar;
  /*background-color: lightgreen;
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}

.footer {
  grid-area: footer;
  font-family: sans-serif;
  font-size: 24px;
  color: white;
  /*background-color: pink;
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}
