* {
  margin: 0;
  padding: 0;
}

.grid1 {
  display: grid;
  /*background-color: darkkhaki;*/
  background-image: url("/images/main-screen.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(3, 1fr, 100px, auto);
  /*grid-gap: 10px;*/
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  "title title title title title title"
  "body body body . . ."
  "footer footer footer footer sidebar sidebar";
}

.title {
  grid-area: title;
  font-family: sans-serif;
  font-size: 72px;
  color: white;
  padding-left: 20px;
  /*background-color: yellow
  border-style: solid;*/
  border-width: 10px;
  border-color: lightgray;
}

.body {
  grid-area: body;
  color: white;
  font-family: sans-serif;
  font-size: 42px;
  /*background-color: blue;
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}

.sidebar {
  grid-area: sidebar;
  /*background-color: lightgreen;
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}

.footer {
  grid-area: footer;
  font-family: sans-serif;
  font-size: 24px;
  color: white;
  /*background-color: pink;
  border-style: solid;
  border-width: 10px;
  border-color: lightgray;*/
}
